<%= render partial: 'galleries/nav' %>

<h3>Edit <%= @invite.app_id %></h3>

<%= form_for([current_gallery, @invite]) do |f| %>
    <div>
    <%= f.label "Update client status:" %>
    <%= f.check_box :status, checked: @invite.status %></div>
    <%= f.submit %>
<% end %>