<% if artworks != [] %>
<table>
    <tr>
        <th>Title</th>
        <th>Artist Name</th>
        <th>Available</th>
        <th>Commissioned</th>
        <th></th>
    </tr>
<tbody>
    <% artworks.each do |work| %>
    <tr>
        <th>
        <%= link_to work.title, gallery_artwork_path(current_gallery, work) %>
        </th>
        <th><%= work.artist %></th>
        <th><i class="material-icons"><%= work.availability ? "check" : "clear"%></i></th>
        <th><i class="material-icons"><%= work.commission ? "check" : "clear"%></i></th>
        <th><%= edit_artwork(work) %><br>
        <%= delete_artwork(work) %></th>
    </tr>
    <% end %>
</tbody>
</table>
<% else %>
<h3>There is no artwork at the moment.</h3>

<% end %>