

<h3><%= @artwork.title %></h3>
<div class="row">
<div class="col s1">
<%= edit_artwork(@artwork) %>
</div>
<div class="col s1">
<%= delete_artwork(@artwork) %>
</div>
</div>

<table>
<tbody>
    <tr>
    <th>Artist Name:</th>
    <th><%= @artwork.artist %></th>
    </tr>
    <tr>
    <th>Edition:</th>
    <th><%= @artwork.edition %></th>
    </tr>
    <tr>
    <th>Year:</th>
    <th><%= @artwork.year %></th>
    </tr>
    <tr>
    <th>Medium:</th>
    <th><%= @artwork.medium %></th>
    </tr>
    <tr>
    <th>Available:</th>
    <th><i class="material-icons"><%= @artwork.availability ? "check" : "clear"%></i></th>
    </tr>
    <tr>
    <th>Commissioned:</th>
    <th><i class="material-icons"><%= @artwork.commission ? "check" : "clear"%></i></th>
    </tr>

    <tr>
    <th>Description:</th>
    <th><%= @artwork.description %></th>
    </tr>

</tbody>
</table>