<%= render partial: 'galleries/nav' %>

<h3>Edit <%= @user.username %></h3>

<%= form_for @user, url: user_path(@user), method: "PATCH" do |f| %>
    <div>
    <%= f.label :username %>
    <%= f.text_field :username %><br>
    </div>
    <div>
    <%= f.label :email %>
    <%= f.email_field :email %><br>
    </div>
    <div>
    <%= f.label :password %>
    <%= f.password_field :password, required: true%><br>
    </div>
    <%= f.submit %>
<% end %>