

<h3>Edit <%= @user.username %></h3>

<%= form_for @user, url: user_path(@user), method: "PATCH" do |f| %>
    <div>
    <%= f.label :username %>
    <%= f.text_field :username %><br>
    </div>
    <div>
    <%= f.label :email %>
    <%= f.email_field :email %><br>
    </div>
    <div>
    <%= f.label :password %>
    <%= f.password_field :password, required: true%><br>
    </div>
    <div class="file-field input-field">
    <div class="btn"><i class="material-icons right">insert_photo</i>
    <span>Update Profile</span>
        <%= f.file_field :photo, direct_upload: true %>
      </div>
      <div class="file-path-wrapper">
        <input class="file-path validate" type="text" name="user[profile_photo]" accept="image/png, image/jpeg" >
      </div>
    </div>
        <button class="btn waves-effect waves-light" type="submit" name="action">Update<i class="material-icons right">send</i>
  </button> 
<% end %>