  <div class="row">
<%= render partial: 'galleries/user' %>

 <div class="col s9">
<h3>Users</h3>

<a class="waves-effect waves-light btn" href="<%= new_gallery_user_invite_path(current_gallery) %>"><i class="material-icons right">add</i>Invite a User</a>
<br>
<div class="input-field">
<%= form_tag(gallery_users_path(current_gallery), method: "get") do %>
    <i class="material-icons prefix">search</i>
    <input type="search" id="search", class="validate", placeholder="Search by Username">
<% end %>
</div>
<br>

<% @users.each do |user| %>
    <div>
    <%= link_to user.username, gallery_user_path(current_gallery, user) %>
    </div>
<% end %>

<% if current_gallery.user_invites != [] %>
  <h3>Invitations:</h3>
  <ul>
    <% current_gallery.user_invites.each do |invite| %>
    <li>
      <%= invite.new_user_email %><br>
      <%= link_to "cancel", gallery_user_invite_path(current_gallery, invite), method: 'DELETE' if edit_authorized?(invite) %>
    </li>
    <% end %>
  </ul>
<% end %>
    </div>
