<%= render partial: 'users/nav' %>

<h1>Create an Account</h1>
<%= form_for @user, url: signup_path do |f| %>
    <div>
    <%= f.label :username %>
    <%= f.text_field :username %><br>
    </div>
    <div>
    <%= f.label :email %>
    <%= f.email_field :email %><br>
    </div>
    <div>
    <%= f.label :password %>
    <%= f.password_field :password %><br>
    </div>
    <div>
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation %>
    </div>
    <%= f.submit %>
<% end %>