<h1>Welcome <%= @user.username %></h1>
<%= link_to "Logout", logout_path, method: "DELETE" %>

<% if @user.invites != [] %>
  <h3>Existing Invites:</h3>
  <% @user.invites.each do |invite| %>
    <%= link_to invite.gallery_name, enter_gallery_path(invite.gallery) %>
  <% end %>
<% else %>
  <h3>You are not associated with any galleries at the moemnt.</h3>
<% end %>

<h3>Create a gallery:</h3>
<%= form_for @gallery, url: user_galleries_path(@user) do |f|%>
    <%= f.label :name %>
    <%= f.text_field :name %>
    <%= f.submit %>
<% end %>