<p><h1><%= current_user.username %>'s Dashboard at <%= current_gallery.name %></h1><%= link_to "(edit)", edit_gallery_path(current_gallery) if gallery_admin? %></p>
<nav>
<%= link_to "Users", gallery_users_path(current_gallery) %>
<%= link_to "Artworks", gallery_artworks_path(current_gallery) %>
<%= link_to "Clients", gallery_clients_path(current_gallery) %>
<%= link_to "Logout", logout_path, method: "DELETE" %>
</nav>
<br>