<h3>Edit <%= current_gallery.name %></h3>

<%= form_for @gallery do |f| %>
    <div>
    <%= f.label :name %>
    <%= f.text_field :name %></div>
    <div>
    <%= f.label "Assign Admin User" %>
      <select name="gallery[admin_user_id]", class="browser-default">
      <option value="" disabled selected>Choose the user</option>
      <% current_gallery.users.each do |user| %>
        <option name="gallery[admin_user_id]", value="<%=user.id%>"><%=user.username%></option>
      <% end %>
    </select>
    <br>
    <button class="btn waves-effect waves-light" type="submit" name="action">Submit
    <i class="material-icons right">send</i>
  </button>
<% end %>